<style rel="stylesheet">

body
{
	background: rgb(0,128,128);
}
#ahnaf h2
{
	color: black;
	font-size: 30px;
  text-align: center;
}
#ahnaf
{
  width: 800px;
  margin: 50px auto;
  padding-bottom: 30px;
  border: 1px solid #918274;
  border-radius: 20px;
  color: black;
  font-family: "Elephant", Times, serif;
  font-size: 30px;
  background: rgb(192,192,192);
}
#ahnaf input
{

  width: 300px;
  height: 35px;
  margin: 5px 10%;
  font-family: "Arial", Times, serif;
  font-size: 20px;
}
#submit
{
  height: 50px;
  width: 50px;
  margin: 5px 10%;
  font-family: "Arial";
  font-size: 35px;
  color: white;
  background: rgb(0,255,0);
  border: 1px solid #918274;
  border-radius: 10px;
}

label {
	
	color: #a64dff;
  font-size: 20px;
  float: center;

}

a
{
	font-size: 20px;
  text-align: left;
  

}

.error {
	color: #FF0000;
	font-size: 15px;
	}

</style>